In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("wea_weather.csv")
df

        day temperature windspeed     event
0  01/01/17        32 F     6 mph      Rain
1  01/02/17      -99999     7 mph     Sunny
2  01/03/17          28    -99999      Snow
3  01/04/17      -99999         7  No Event
4  01/05/17        32 C    -99999      Rain
5  01/06/17          31         2     Sunny
6  01/07/17          34         5  No Event

In [2]:
new_df = df.replace({
    'temperature': '[A-Za-z]',
    'windspeed' : '[A-Za-z]'
},'',regex=True)
new_df

        day temperature windspeed     event
0  01/01/17         32         6       Rain
1  01/02/17      -99999        7      Sunny
2  01/03/17          28    -99999      Snow
3  01/04/17      -99999         7  No Event
4  01/05/17         32     -99999      Rain
5  01/06/17          31         2     Sunny
6  01/07/17          34         5  No Event